<div class="message-row <%= is_current_user_message ? 'sent' : 'received' %>">
  <div class="message-content">
    <div class="message-sender-name">
      <%= message.user.display_name %>
    </div>
    <div class="message-bubble">
      <%= message.body %>
    </div>
    <div class="message-timestamp">
      <%= message.created_at.strftime("%b %d, %Y %H:%M") %>
      <% if is_current_user_message && message.read_at.present? %>
        <span class="read-status">Read</span>
      <% end %>
    </div>
  </div>
</div>