<div class="overflow-x-auto">
  <nav class="flex space-x-6">
    <a href="#" data-tabs-target="tab" data-action="click->tabs#select" data-tab="about" class="pb-2 border-b-2 border-transparent text-gray-500 whitespace-nowrap">About</a>
    <a href="#" data-tabs-target="tab" data-action="click->tabs#select" data-tab="offerings" class="pb-2 border-b-2 border-transparent text-gray-500 whitespace-nowrap">Offerings</a>
    <a href="#" data-tabs-target="tab" data-action="click->tabs#select" data-tab="stories" class="pb-2 border-b-2 border-transparent text-gray-500 whitespace-nowrap">Stories</a>
    <a href="#" data-tabs-target="tab" data-action="click->tabs#select" data-tab="reels" class="pb-2 border-b-2 border-transparent text-gray-500 whitespace-nowrap">Reels</a>
  </nav>
</div>
