<div class="overflow-x-auto">
  <nav class="flex flex-wrap md:flex-nowrap gap-4 sm:gap-6" role="tablist">
    <a href="#" data-tabs-target="tab" data-action="click->tabs#select" data-tab="about" class="pb-2 border-b-2 border-transparent text-gray-500 whitespace-nowrap" role="tab">About</a>
    <a href="#" data-tabs-target="tab" data-action="click->tabs#select" data-tab="offerings" class="pb-2 border-b-2 border-transparent text-gray-500 whitespace-nowrap" role="tab">Offerings</a>
    <a href="#" data-tabs-target="tab" data-action="click->tabs#select" data-tab="stories" class="pb-2 border-b-2 border-transparent text-gray-500 whitespace-nowrap" role="tab">Stories</a>
    <a href="#" data-tabs-target="tab" data-action="click->tabs#select" data-tab="reels" class="pb-2 border-b-2 border-transparent text-gray-500 whitespace-nowrap" role="tab">Reels</a>
  </nav>
</div>
