<%= link_to path, class: "w-full flex justify-center items-center py-3 px-4 border border-gray-200 rounded-xl hover:bg-gray-50 transition duration-200" do %>
  <%= svg_html.html_safe %>
  <span class="text-gray-600 font-medium"><%= text %></span>
<% end %>