<% classes = local_assigns.fetch(:classes, '') %>
<% content = local_assigns.fetch(:content, '') %>
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 <%= classes %>">
  <%= content %>
</div>
