<% classes = local_assigns.fetch(:classes, '') %>
<% content = local_assigns[:content] %>
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 <%= classes %>">
  <% if content %>
    <%= content %>
  <% elsif block_given? %>
    <%= yield %>
  <% end %>
</div>
