/* Remove default margin/padding from body and sections */
body, html {
    margin: 0;
    padding: 0;
  }
  
/* Background image with dark overlay */
.landing_page {
    position: relative;
    width: 100%;
    height: 100vh; /* Cover full viewport height */
    background: url('<%= asset_path 'bgimage.jpg' %>') center center/cover no-repeat; /* Set background image */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .landing_page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1; /* Ensure it covers the image but behind the content */
  }
  
  .content-wrapper {
    position: relative;
    z-index: 2; /* Place content above the overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* White text for readability */
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
  }
  
  /* Styling for the hero text and input fields */
  .hero-text, .hero-text1 {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff; /* White text for readability */
    margin: 10px 0;
    text-align: center;
  }
  
  #visit-place, #meet-person {
    background: rgba(255, 255, 255, 0.8); /* Light background with transparency */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #007bff;
  }
  
  #visit-place {
    width: 600px;
  }
  
  #meet-person {
    width: 400px;
  }
  
  .input-field {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
  }

  .button {
    width: 200px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0.75rem 1.5rem;
    background-color: #1d4ed8;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  /* Explore subtitle styling */
  .explore-subtitle {
    margin-top: 2rem;
  }

  .explore-subtitle h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    opacity: 0.9;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
  }